@font-face {
    font-family: 'pdd';
    src: url('fonts/pdd.eot?pw4c5a');
    src: url('fonts/pdd.eot?pw4c5a#iefix') format('embedded-opentype'), url('fonts/pdd.ttf?pw4c5a') format('truetype'), url('fonts/pdd.woff?pw4c5a') format('woff'), url('fonts/pdd.svg?pw4c5a#pdd') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="pdd-"],
[class*=" pdd-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'pdd' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pdd-uniE909:before {
    content: "\e909";
}

.pdd-6:before {
    content: "\e90a";
}

.pdd-uniE902:before {
    content: "\e902";
}

.pdd-5:before {
    content: "\e903";
}

.pdd-4:before {
    content: "\e904";
}

.pdd-3:before {
    content: "\e905";
}

.pdd-_:before {
    content: "\e906";
}

.pdd-2:before {
    content: "\e907";
}

.pdd-1:before {
    content: "\e908";
}

.pdd-round_check:before {
    content: "\e900";
}

.pdd-search:before {
    content: "\e901";
}